
{% extends 'index_view.html' %}
{% block pagecontent %}
<div class="row">
{% for hotel in hotel_list %}
<div class="col-md-4">
    <div class="card mb-2">
        <img class="card-img-top" src="{{hotel.hotel_image.url}}">
        <div class="card-body">
            <h5 class="card-title">{{ hotel.hotel_name }}</h5>
            <p class="card-text">{{ hotel.address }}</p>
            <p class="card-text">{{ hotel.contact }}</p>
            <p class="card-text">{{ hotel.email }}</p>
            <a href="#"
               class="btn btn-primary">
                Read More
            </a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock pagecontent %}
