
{% extends 'index_view.html' %}
{% block pagecontent %}
{% load crispy_forms_tags %}
<div class="col-md-5">
<form action="" method="post" id="ReservationForm" data-name-url="{% url 'ajax_load_price' %}" novalidate>
    {% csrf_token %}
    {{ form|crispy}}
    <input type="submit" class="btn btn-success" value="Submit">
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
  	
  	$("#id_room_id").change(function(){
  	  var ary = []
      $("#id_room_id option:selected").each(function()
  	   {
        ary.push($(this).val())
       });

    	var url = $('#ReservationForm').attr("data-name-url");
    	$.ajax({
              url:url,
              data:{
                  'room':ary,
              },
              success:function(data){
                  $('#id_total_price').val(data['price']);
              }
          });
    	});

      $("#id_room_type").change(function () {
          var url = $('#ReservationForm').attr("data-name-url");
          var roomTypeId = $(this).val(); 
          $.ajax({                      
            url: url,                    
            data: {
              'roomtype': roomTypeId, 
              },    
            success: function (data) {
              $("#id_room_id").html(data);
            }
          });
        });
  </script>
</div>
{% endblock pagecontent %}
