<div class="row">
    <div class="col-md-4">
        <div *ngIf="tutorials">
            <main>
                <ol class="gradient-list">
                    <li *ngFor="let tutorial of tutorials" (click)="setCurrentTutorial(tutorial)">
                        <span>{{tutorial.title}}</span>
                    </li>
                </ol>
            </main>
        </div>
    </div>
    <div class="col-md-8 mt-5">
        <app-tutorial-details [tutorial]="currentTutorial"></app-tutorial-details>
    </div>
</div>