<!DOCTYPE html>
<html lang="en">
<head>
  <h2><title>Local Library</title></h2>
</head>
<body>
<div class="container">
<div class="row">
        <div class="card mb-5 mx-auto">
            <div class="card-body">
            	{% if visitor.image %}
                <img src="{{ visitor.image.url}}" class="rounded-sm"  height="120px;" width="80px;" />
                {% endif %}
                <h3>{{visitor.name}}</h3>
                <h5 class="card-title">{{ visitor.phone }}</h5>
                <p class="card-text">{{ visitor.email }}</p>
            </div>
            
        </div>
</div>
</div>
</body>
</html>

